---
layout: default
---

<div class="callout">
    <div class="content editable">
        <a class="expressway" href="{{ site.text.signup-link }}">A different callout</a>
    </div>
</div>

<div class="hero">
    <div class="hero-background">
        <img src="{{ site.text.hero-image-url }}" />
    </div>
    <div class="content">
        <div class="left">
            <h1 class="expressway">{{ site.text.hero-heading }}</h1>
            <h2 class="expressway">{{ site.text.hero-subheading }}</h2>
            <h2>{{ site.signup-form-url }}</h2>

            <div id="mc_embed_signup">
                <form action="{{ site.text.signup-form-url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <input type="email" value="" name="EMAIL" placeholder="your email" class="required email" id="mce-EMAIL" />
                        <input type="submit" value="stay informed" name="subscribe" id="mc-embedded-subscribe" class="button" />
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ site.text.signup-form-secret}}" tabindex="-1" value="" /></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <img src="/assets/images/bike.png" />
            <div class="motivate-label">
                <div class="operated-label">Operated By</div>
                <a href="http://www.motivateco.com/"><img src="/assets/images/logos/motivate.png" /></a>
            </div>
        </div>
    </div>
</div>

<div class="sponsors content">
    <div class="heading expressway">{{ site.text.sponsors-title }}</div>
    <div class="sponsors-section">
        <div class="left">
            <div class="subheading expressway">{{ site.text.sponsors-left }}</div>
            <a href="https://online.citibank.com/US/Welcome.c"><img src="/assets/images/logos/citi.png" /></a>
        </div>
        <div class="right">
            <div class="subheading expressway">{{ site.text.sponsors-right }}</div>
            <a href="http://www.horizonblue.com/"><img src="/assets/images/logos/horizon.png" /></a>
            <a href="https://www.unitedwater.com/newjersey/"><img src="/assets/images/logos/suez.png" /></a>
            <a href="https://www.carepointhealth.org/"><img src="/assets/images/logos/carepoint.png" /></a>
            <a href="http://www.barnabashealth.org/"><img src="/assets/images/logos/health.png" /></a>
        </div>
    </div>
</div>
<hr />


<div class="post content">
    <div class="left">
        <div class="post-heading">{{ site.text.post-heading }}</div>
        <div class="post-subheading">{{ site.text.post-subheading }}</div>
        <div class="post-date">{{ site.text.post-date }}</div>
    </div>
    <div class="right">
        <div class="post-body">
            <p><em><strong>With 350 bikes at 35 stations, the Citi Bike program brings new transportation option for communities across Jersey City</strong></em></p>

            <p><em>Fully interoperable with Citi Bike New York City</em></p>

            <p>Jersey City, NJ — Citi Bike Jersey City launched with a flourish today, with Mayor Steven M. Fulop joining Jay Walder, President &amp; CEO of Motivate, funders and community supporters to cut the ribbon at the Citi Bike station in the Newark Avenue Pedestrian Plaza, bringing the 350-bike, 35-station system online.</p>

            <p>Citi Bike Jersey City is fully supported by sponsorship and other revenues, making it the only bike share system in a mid-size city to operate without public funding.  Citi is the Title Sponsor for the new system.  Four additional organizations – the Horizon Foundation for New Jersey, SUEZ North America, CarePoint Health and Jersey City Medical Center–Barnabas Health have been named Founding Sponsors. An investment by Goldman Sachs will allow for the initial purchase of docking stations and bicycles.  Fully interoperable with New York City's Citi Bike, the system allows those who commute or travel between the two cities to use their memberships in both independent systems. </p>

            <p>"It's not very often that a city gets a completely new public transit system, a new way to enjoy the outdoors and stay active, and a new link to New York all at once, but that's what we have today with Citi Bike," said <strong>Jersey City Mayor Steven M. Fulop</strong>. "This is something that will connect every corner of the city.  We have bike stations in every ward."</p>

            <p>"Thanks to Mayor Fulop's visionary leadership and the support of terrific sponsors, the Citi Bike program is now a seamless regional transportation network improving commutes on both sides of the Hudson," said <strong>Jay Walder, President &amp; CEO of Motivate</strong>. "The launch of the Citi Bike program in Jersey City shows that bike share has become a critical component of healthy, sustainable and convenient urban living in cities of all sizes."
</p>

            <p>The new system advances Mayor Fulop's goal of making Jersey City ‘America's best mid-size city'—providing a new, environmentally friendly, healthy and affordable 24/7 transportation option for the city's residents and visitors, and making the city more welcoming to cyclists overall. Jersey City has already added 22 miles of bike lanes to the street grid over the past two years alone.
</p>

            <p>The system's funders rallied around bike share in Jersey City, praising the new opportunities for commuting and recreation that it will make possible in New Jersey and New York. 
</p>

            <p>"Citi Bike has become an iconic mobile landmark in New York City, and we are thrilled to help roll Citi Bike out to Jersey City residents and visitors," said <strong>Elyssa Gray, Director of Brand and Advertising of Citi Cards at Citi</strong>.  "The Citi Bike program has produced enormous benefits— be they transportation, health or sustainability-related— and we are proud to join Mayor Fulop and Motivate to bring them to Jersey City." </p>

            <p>"As a Founding sponsor, the Horizon Foundation encourages city residents to embrace the Jersey City Bike Share program and pedal their way to better health," said <strong>Minalkumar Patel, M.D.,  Senior Vice President &amp; Chief Strategy Officer for Horizon BCBSNJ</strong>.  A Hudson County resident who grew up in Jersey City, Dr. Patel added: "Cycling combines a fitness activity into a rider's daily routine, offering the same cardiovascular benefits as other aerobic exercises, and supports a healthy lifestyle. "</p>

            <p>"Jersey City, under Mayor Fulop's administration, has an established a reputation as a leader in "green" initiatives," said <strong>Nadine Leslie, President of SUEZ Environmental Services</strong>. "SUEZ North America is excited to help this reputation by supporting Jersey City as a lead sponsor of the Citi Bike program in Jersey City."</p>

            <p>"We are proud to be a founding partner of Jersey City's bike share program," said <strong>CarePoint Health System CEO Dennis Kelly</strong>.  "Improving the health and quality of life of the population we serve is CarePoint Health's core mission, and this program takes a huge step in that direction."
</p>

            <p>"Having a Citi Bike station on the Jersey City Medical Center campus and one near my home in Jersey City will give me an healthy alternative means of transportation," said <strong>Joe Scott, President &amp; CEO of Jersey City Medical Center-Barnabas Health</strong>. "At Barnabas Health we believe life is better healthy and I will encourage others to do the same when making appointments or as a method of commuting.   Our Citi Bike rental station is near Liberty State Park and the Light Rail and we expect it to be one of the busiest locations."</p>

            <p>"We are excited to see a new Citi Bike launch in Jersey City, allowing residents to travel between the two cities easily in an environmentally friendly way," said <strong>Margaret Anadu, Managing Director in the Goldman Sachs Urban Investment Group</strong>.  "This expansion will not only increase access to affordable green transportation but will also create quality jobs and sustainable economic development."</p>

            <p>Jersey City residents can sign up for memberships at <a href="http://www.citibikejc.com">www.citibikejc.com</a>. Pricing across New York and New Jersey are the same, with an annual membership cost of $149, discounted by $25 until the end of this month. Members are entitled to unlimited use of the system for individual bike trips of up to 45 minutes. Members using the Citi Bike bikes for longer periods will be charged a graduated fee. There are also options for day and weekly memberships, for those visiting Jersey City or trying the system for the first time.</p>

<p>Corporate memberships are also available. Any Jersey City employer that signs up by October 1st will be designated a charter member, with the opportunity to extend a 50% or 100% subsidy to every employee. Interested employers - and employees - can contact marketing@citibikejc.com for more information.</p>

<p>Several great local restaurants and cultural destinations will offer discounts to Citi Bike key holders through September 30th. 'Kitchen at Grove' will offer free coffee or tea on weekdays between 7:00am-10:00am, while 'Mordi's Food Truck' and 'Who's Gluten Free' will both offer 10 percent discounts.  Many more Jersey City deals will come online through the month, to encourage residents to sign up for the service and invite New York members to explore all that Jersey City has to offer on Citi Bike. For a complete list of participating businesses, please visit the <a href="http://citibikejc.tumblr.com/post/129451450370/citi-bike-member-benefits" title="Citi Bike Member Benefits">Citi Bike Jersey City Tumblr page</a>. </p>
 
<p>Subsidized memberships of $60 per year will also be available— as they are in New York— for residents who meet certain income qualifications.  The average family with an annual income of less than $50,000 spends roughly 30 percent of their budget on transportation, statistics show. A $60 bike share subscription, Mayor Fulop believes, will provide families with affordable transportation. </p>

<p>The Citi Bike program now joins other regional bike share networks operated by Motivate including Hubway, Capital Bike Share and Bay Area Bike Share in providing a transportation network that serves residents across municipal boundaries with one single, seamless membership. Citi Bike in the New York / New Jersey area is the largest bike share program in the United States and one of the largest in the world. Citi Bike riders have taken over 21 million trips on the program in New York since it launched in May 2013.</p>

            <p><strong></strong></p>
            <p><strong>CONTACT:</strong></p>
            <p></p>
            <p><strong>Motivate:</strong> Motivate:  Madeline Kaye, madeline.kaye@berlinrosen.com, (646) 200-5297</p>

            <p><strong>Mayor's Office Jersey City:</strong> Ryan Jacobs RJacobs@jcnj.org, (201) 547-4836</p>

            <br />

            <p><strong>About Motivate</strong></p><p></p><p>Motivate
                is a global leader in bike share. A full-service bike
                share operator and technology innovator, Motivate
                works to re-envision how people experience and move
                around cities.&nbsp; Motivate currently manages all of
                the largest bike share systems in the United States
                and many of the largest systems in the world,
                including Bay Area Bike Share (California Bay Area),
                Citi Bike (New York), Divvy (Chicago), CoGo Bike Share
                (Columbus, Ohio), Capital Bike Share (Washington,
                D.C.; Arlington and Alexandria, Va.; and Montgomery
                County, Md.), Hubway (Boston, Somerville, Cambridge
                and Brookline, Mass.), Pronto (Seattle), Bike
                Chattanooga (Tenn.), Bike Share Toronto and Melbourne
                Bike Share in Australia as well as Bay Area Bike
                Share. Motivate's newest system is Citi Bike Jersey
                City, N.J., that will be compatible with New York
                City's Citi Bike program.</p>
        </div>
        <div class="cover-gradient"></div>
        <a class="boing read-more">Read More</a>
    </div>
</div>

<div class="map" style="background-image: url({{ site.text.map-image-url }})">
    {% if site.map-link-enabled %}
    <a class="clear-button boing" href="{{ site.text.map-link }}">{{ site.text.map-title }}</a>
    {% else %}
    <div class="clear-button boing">{{ site.text.map-title }}</div>
    {% endif %}
</div>

<div class="membership">
    <div class="heading expressway">{{ site.text.rides-title }}</div>
    {% for membership in site.memberships %}
    <div class="membership">
        <div class="image" style="background-image: url({{ membership.image }})"></div>
        <div class="title expressway">{{ membership.title }}</div>
        <div class="description">{{ membership.content }}</div>
        <a class="expressway" href="{{ membership.link }}">Learn More</a>
    </div>
    {% endfor %}
</div>

<div class="how-it-works">
    <div class="content">
        <br />
        <div class="heading expressway">How it works</div>
        <ul>
            <li><a class="expressway" href="https://www.citibikenyc.com/how-it-works">Overview</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/faq">FAQ</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/meet-the-bike">Meet the Bike</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/get-the-app">Get the App</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/riding-tips">Riding Tips</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/resources">Resources</a></li>
        </ul>
    </div>
    <img class="right-image" src="/assets/images/people/how-it-works.png" />
</div>

<div class="corporate content">
    <div class="left">
        <img src="/assets/images/people/corporate.png" />
    </div>
    <div class="right">
        <div class="heading expressway">{{ site.text.corporate-title }}</div>
        <div class="body">{{ site.text.corporate-body }}</div>
        <a class="clear-button boing" href="{{ site.text.corporate-link }}">{{ site.text.corporate-button }}</a>
        <br />
        <a class="clear-button boing" href="{{ site.text.corporate-learn-link }}">{{ site.text.corporate-learn-button }}</a>
    </div>
</div>

{% if site.corporate-partners-enabled %}
  <hr />
  <div class="top-footer">
    <p><b>{{ site.text.corporate-extra }}</b></p>
    <ul class="content">
        <li><img src="/assets/images/logos/westin.png" /></li>
        <li><img src="/assets/images/logos/lenox.png" /></li>
        <li><img src="/assets/images/logos/liberty.png" /></li>
        <li><img src="/assets/images/logos/goldman.png" /></li>
        <li><img src="/assets/images/logos/ustech.png" /></li>
        <li><img src="/assets/images/logos/marriot.png" /></li>
    </ul>
  </div>
{% endif %}
<div class="social-footer">
    <a class="twitter" href="{{ site.text.twitter }}"><img src="/assets/images/logos/twitter.png" /></a>
    <a class="facebook" href="{{ site.text.facebook }}"><img src="/assets/images/logos/facebook.png" /></a>
    <a class="instagram" href="{{ site.text.instagram }}"><img src="/assets/images/logos/instagram.png" /></a>
</div>
<div class="bottom-footer">
    <div class="content">
        {{ site.text.bottom-footer | markdownify }}
        {{ site.text.bottom-footer-copyright | markdownify }}
    </div>
</div>
