<div class="corporate content">
    <div class="left">
        <img class="editable" src="https://app.cloudcannon.com/sites/15056/site_files/raw/?path=uploads/versions/groups_header---x68-0-225-225-366-366x---.png&amp;timestamp=1444260913740" id="cms-identifiable-403" data-cms-cid="403" data-cms-original-src="/uploads/versions/groups_header---x68-0-225-225-366-366x---.png" width="366" height="366" />
    </div>
    <div class="right">
        <div class="heading expressway">{{ site.text.corporate-title }}</div>
        <div class="body editable">{{ site.text.corporate-body }}</div>
        <a class="clear-button boing" href="{{ site.text.corporate-link }}">{{ site.text.corporate-button }}</a>
        <br />
        <a class="clear-button boing" href="{{ site.text.corporate-learn-link }}">{{ site.text.corporate-learn-button }}</a>
    </div>
</div>
