<div class="corporate content">
    <div class="left">
        <img src="/assets/images/people/corporate.png">
    </div>
    <div class="right">
        <div class="heading expressway">{{ site.text.corporate-title }}</div>
        <div class="body editable">{{ site.text.corporate-body }}</div>
        <a class="clear-button boing" href="{{ site.text.corporate-link }}">{{ site.text.corporate-button }}</a>
        <br />
        <a class="clear-button boing" href="{{ site.text.corporate-learn-link }}">{{ site.text.corporate-learn-button }}</a>
    </div>
</div>
