<div class="top-footer">
    <ul class="content">
        <li><img src="/assets/images/logos/westin.png" /></li>
        <li><img src="/assets/images/logos/lenox.png" /></li>
        <li><img src="/assets/images/logos/liberty.png" /></li>
        <li><img src="/assets/images/logos/goldman.png" /></li>
        <li><img src="/assets/images/logos/ustech.png" /></li>
        <li><img src="/assets/images/logos/marriot.png" /></li>
    </ul>
</div>
<div class="social-footer">
    <a class="twitter" href="https://twitter.com/citibikenyc"><img src="/assets/images/logos/twitter.png" /></a>
    <a class="facebook" ref="https://www.facebook.com/CitibikeNYC"><img src="/assets/images/logos/facebook.png" /></a>
    <a class="instagram" href="https://instagram.com/citibike/?hl=en"><img src="/assets/images/logos/instagram.png" /></a>
</div>
<div class="bottom-footer">
    <div class="content">
        {{ site.text.bottom-footer | markdownify }}
        {{ site.text.bottom-footer-copyright | markdownify }}
    </div>
</div>
