<header>
    <div class="content">
        <div class="left">
            <img class="logo" src="/assets/images/logos/citibike.png" />
            <div class="city-name expressway">{{ site.text.city-name }}</div>
        </div>
        {% if site.login-enabled %}
        <div class="right">
            <a class="boing" href="{{ site.text.login-link }}">login</a>
            <a class="button boing" href="{{ site.text.signup-link }}">join</a>
        </div>
        {% endif %}
    </div>
</header>
