<div class="hero">
    <div class="hero-background">
        <img src="{{ site.text.hero-image-url }}" />
    </div>
    <div class="content">
        <div class="left">
            <h1 class="expressway">{{ site.text.hero-heading }}</h1>
            <h2 class="expressway">{{ site.text.hero-subheading }}</h2>
            <form>
                <input type="text" placeholder="your email">
                <input class="boing" type="submit" value="{{ site.text.hero-button }}">
            </form>
        </div>
        <div class="right">
            <img src="/assets/images/bike.png" />
            <div class="motivate-label">
                <div class="operated-label">Operated By</div>
                <img src="/assets/images/logos/motivate.png" />
            </div>
        </div>
    </div>
</div>
