<div class="hero">
    <div class="hero-background">
        <img class="editable" src="https://app.cloudcannon.com/sites/15056/site_files/raw/?path=uploads/versions/hero-wide-expansion---x49-0-680-414-784-477x---.png&amp;timestamp=1444259508002" id="cms-identifiable-60" data-cms-cid="60" data-cms-original-src="/uploads/versions/hero-wide-expansion---x49-0-680-414-784-477x---.png" width="784" height="477" />
    </div>
    <div class="content">
        <div class="left">
            <h1 class="expressway editable">Citi Bike is in JC</h1>
            <h2 class="expressway editable">More about Citibike JC</h2>
            <h2>{{ site.signup-form-url }}</h2>

            <div id="mc_embed_signup">
                <form action="{{ site.text.signup-form-url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <input type="email" value="" name="EMAIL" placeholder="your email" class="required email" id="mce-EMAIL" />
                        <input type="submit" value="stay informed" name="subscribe" id="mc-embedded-subscribe" class="button" />
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ site.text.signup-form-secret}}" tabindex="-1" value="" /></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <img class="editable" src="/assets/images/bike.png" />
            <div class="motivate-label">
                <div class="operated-label">Operated By</div>
                <a href="http://www.motivateco.com/"><img src="/assets/images/logos/motivate.png" /></a>
            </div>
        </div>
    </div>
</div>
