<div class="how-it-works">
    <div class="content">
        <br />
        <div class="heading expressway">How it works</div>
        <ul>
            <li><a class="expressway" href="https://www.citibikenyc.com/how-it-works">Overview</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/faq">FAQ</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/meet-the-bike">Meet the Bike</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/get-the-app">Get the App</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/riding-tips">Riding Tips</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/resources">Resources</a></li>
        </ul>
    </div>
    <img class="right-image" src="/assets/images/people/how-it-works.png" />
</div>
