<div class="how-it-works">
    <div class="content">
        <br />
        <div class="heading expressway"><a href="http://www.citibikenyc.com/how-it-works">How it works</a></div>
        <ul>
            <li><a class="expressway" href="https://www.citibikenyc.com">Overview</a></li>
            <li><a class="expressway"  href="https://www.citibikenyc.com/faq">FAQ</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/meet-the-bike">Meet the Bike</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/get-the-app">Get the App</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/riding-tips">Riding Tips</a></li>
            <li><a class="expressway" href="https://www.citibikenyc.com/resources">Resources</a></li>
        </ul>
        <img class="right-image" src="/assets/images/people/how-it-works.png" />
    </div>
</div>
