<div class="post content">
    <div class="left">
        <div class="post-heading">{{ site.text.post-heading }}</div>
        <div class="post-subheading">{{ site.text.post-subheading }}</div>
        <div class="post-date">{{ site.text.post-date }}</div>
    </div>
    <div class="right">
        <div class="post-body">{{ site.text.post-body | markdownify }}</div>
        <div class="cover-gradient"></div>
        <a class="boing" href="{{ site.text.post-link }}">Read More</a>
    </div>
</div>
