<div class="sponsors content">
    <div class="heading">{{ site.text.sponsors-title }}</div>
    <div class="sponsors-section">
        <div class="left">
            <div class="subheading">{{ site.text.sponsors-left }}</div>
            <img src="/assets/images/logos/citibank.png" />
        </div>
        <div class="right">
            <div class="subheading">{{ site.text.sponsors-right }}</div>
            <img src="/assets/images/logos/united-water.png" />
            <img src="/assets/images/logos/health.png" />
            <img src="/assets/images/logos/carepoint.png" />
            <img src="/assets/images/logos/horizon.png" />
        </div>
    </div>
</div>
<hr></hr>
