<div class="sponsors content">
    <div class="heading expressway">{{ site.text.sponsors-title }}</div>
    <div class="sponsors-section">
        <div class="left">
            <div class="subheading expressway">{{ site.text.sponsors-left }}</div>
            <a href="https://online.citibank.com/US/Welcome.c"><img src="/assets/images/logos/citi.png" /></a>
        </div>
        <div class="right">
            <div class="subheading expressway">{{ site.text.sponsors-right }}</div>
            <a href="http://www.horizonblue.com/"><img src="/assets/images/logos/horizon.png" /></a>
            <a href="https://www.unitedwater.com/newjersey/"><img src="/assets/images/logos/suez.png" /></a>
            <a href="https://www.carepointhealth.org/"><img src="/assets/images/logos/carepoint.png" /></a>
            <a href="http://www.barnabashealth.org/"><img src="/assets/images/logos/health.png" /></a>
        </div>
    </div>
</div>
<hr></hr>
