.how-it-works {
  background: #009ddc;
  position: relative;
  height: 428px;
  margin-top: 50px; }
  .how-it-works ul, .how-it-works li {
    list-style: none;
    font-size: 26px;
    margin: 0px;
    padding: 0px; }
    .how-it-works ul a, .how-it-works li a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 10px; }
  .how-it-works .content {
    padding-left: 100px; }
  .how-it-works .heading {
    font-size: 36px;
    color: #00447c;
    margin-top: 25px;
    margin-bottom: 16px; }
  .how-it-works .right-image {
    height: 428px;
    width: auto;
    position: absolute;
    left: 404px;
    top: 0px; }
